* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --yellow: #FCC028;
    --green: #207733;
    --black: #000000;
    --white: #FFFFFF;
}

.section1 {
    margin-top: 80px;
    min-height: 100vh;
}
    
.wrapper {
    font-family: "Inter", sans-serif;
    align-items: center;
    margin-inline: 85.2px;
}
.m-menu {
    display: none;
    position: fixed;
}
.logo {
    position: absolute;
    left: 0px;
    height: 50px;
}

section2 {
    min-height: 100vh;
    padding-top: 50px;
    align-items: center;
}
body {
    
    /* background-image: url(/images/composition-with-html-system-websites\ 1.png); */
    background-size: cover;
    background-color: #EFEFEF;
    /* position: fixed; */
  }
.top-wrapper {
    
    min-height: 100vh;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    width: auto;
    /* height: 557.35px; */
    
}
.hero-section {
    display: flex;
    /* min-height: 100vh; */
}
 /* .menu {
    position: fixed;
    top: 0px;
    width: auto;
    background-color: #EFEFEF;


    align-items: center;
    display: grid;
    /* place-items: center; 
} */
.menu-items {
    text-decoration: none;
    color: #000000;
}
.menu-list {
    margin-block: 14.87px;
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;    

}
.menu-items:hover {
    color: #FCC028;
    cursor: pointer;
}
.hello {
    /* width: 90px;
    height: 26px; */
    font-size: 19.52px;
    color: var(--yellow);
    margin-top: 100px;
}
.my-info {
    margin-top: 6.82px;
    line-height: 35px;
    font-size: 17.52px;
    color: #00000080;
}
.info-div {
    /* display: flex; */
    width: auto;
    /* height: 104px; */
}
.btn-info {
    margin-top: 35.05px;

}
.hire-me {
    padding-block: 9.74px;
    padding-inline: 29.21px;
    background-color: var(--yellow);
    color: white;
    border: none;
    border-radius: 4.87px;
    cursor: pointer;
    margin-right: 85.2px;;
}
.top-btn-div {
    align-items: end;
}
.hire-me-top {
    position: absolute;
    right: 5px;
    padding-block: 9.74px;
    padding-inline: 29.21px;
    background-color: var(--yellow);
    border: none;
    border-radius: 4.87px;
    cursor: pointer;
    color: var(--white);
}
#hire-me-top {
    padding-buttom: 0px;
}
.hire-me:hover {
    background-color: #ff9900;
}
.hire-me-top:hover {
    background-color: #ff9900;
}
.name1 {
    font-size: 70.8px;
}
.designer {
    color: var(--green);
    font-size: 23.37px;
}
.fig1 {
    margin-top: 70px;
    width: 596.28;
    height: 557.88;
}
.mypic1 {
    margin-left: 8.76px;
    width: 570.28px;
    /* hborder: solid black;eight: 557.88px; */
    
}
.mypic2 {
    display: none;
}
.second-section {
    /* min-height: 100vh; */
    margin-bottom: 20px;
} 
/* .wrapper2 {
    border: solid red;
    min-height: 100vh;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    width: 1180px;
    height: 557.35px;

    
} */
.wrapper2 {
    width: 100%;
    /* min-height: 100vh; */
}
.services {
    text-align: center;
    color: var(--yellow);
    /* margin-top: 1000px; */
}
.check-services {
    color: #000000bd;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.check-services:hover {
    color: #000000;
    
}
.explore-services {
    margin-bottom: 20px;
    color: var(--yellow);

}
.cards {
    /* width: 100%; */
    display: flex;
    gap: 50px;
    /* border: solid red;  */
    
}
.ttt-link {
    text-decoration: none;
}
.card {
    text-decoration: none;
    transition: box-shadow 0.3s;
    border-radius: 30px;
    width: 100%;
    padding-bottom: 25px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 5px var(--yellow);
    
}
.image1, .image2, .image3 {
    /* width: 90%; */
    width: 358.29px;
    /* height: 334.92; */
    transition: box-shadow 0.3s;
    border-radius: 30px;
}

.card-title {
    /* border: solid red; */
    text-align: center;
    margin-top: 9.74px;
    color: #000000bd;
}

.service-info {
    color: #000000;
    width: 90%;
    text-align: center;
    /* width: auto; */
    /* padding-left: 60px; */
}
.about-me {
    margin-top: 20px;

}
.handsome {
    width: 40%;
    height: 40%;
    margin-right: 50px;
    /* height: 500px; */
    /* border-radius: 0 100px 0 100px; */
}
.my-information {
    display: flex;
    margin-top: 100px;
    width: auto;
}
.ntn {
    margin-block: 20px;
}
.my-para {
    margin-top: 10px;
    /* margin-left: 50px; */
    line-height: 30px;
    width: 100%;
    /* margin-left: 50px; */
}
.services1 {
    color: var(--yellow);
}
.achieved {
    /* margin-left: 50px; */
    width: 60%;
}
.team-container {
    min-height: 100vh;
}
.first-three {
    display: flex;
}
.second-three {
    display: flex;
}


.team-box {
    margin: auto;
    width: auto;
    height: auto;
    box-shadow: #000000;
    /* border: solid red; */
}
.team {
    padding-block: 20px;
    text-align: center;
    color: var(--yellow);
}

.team-info {
    padding-top: 10px;
    font-size: 18px;
    color: #707070;
    text-align: center;
}
.team-content {
    text-align: center;
}
.team-portfolio {
    margin-top: 7px;
}
#testimonials {
    /* margin-block: 50px; */
    display: grid;
    color: var(--yellow);
    text-align: center;
    margin-block: 30px;
}
#body3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: #EFEFEF;
    padding: 0 0;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    
}
/* .overlay2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    border-radius: 25px 25px 0 25px;
} */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;

    height: 40px;
    width: 40px;
    background-color: var(--yellow);
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;

}
.card-img, .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}
.card2 {
    /* width: 320px; */
    border-radius: 25px;
    background-color: #FFF  ;
}
.slide-content {
    margin: 0 40px;
}
.name {
    color: var(--yellow);
    font-size: 18px;
    font-weight: 500px;
    columns: #333;
}
.comment-para {
    padding-top: 20px;
    font-size: 18px;
    color: #707070;
    text-align: center;

}
.mobile1 {
    display: none;
}

@media (width<=425px) {
    body {
        width: auto;
    }
    .m-menu {
        display: contents;
        position: fixed;
    }
    .mypic1 {
        display: none;
    }
    .img-container1,
    .mobile1 {
        display: block;
        /* margin-top: 20px; */
        /* height: 218px; */
        width: 100%;
    }
    .wrapper {
        margin-inline: 21px;
    }
    .fig1 {
        display: none;
    }
    .top-wrapper {
    
        /* min-height: 100vh; */
        font-size: 30px;
        font-family: "Inter", sans-serif;
        /* height: 557.35px; */
    }
    /* .info-div {
        width: 840px;
    } */
    .hero-section {
        display: block;
    }
    .hello {
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 25px;
        text-align: start;
    }
    .name1 {
        margin-bottom: 5px;
        text-align: start;
        font-size: 35px;
    }
    .designer {
        text-align: start;
        font-size: 20px;
    }
    .my-info {
        font-size: 16px;
        text-align: start;
        /* width: 318px; */
        /* line-height: 50px; */
        width: 100%;
    }
    .menu {
        display: none;
    }
    .image2 {
        width: 100%;
    }
    .services {
        margin-top: 10px;
        font-size: 100%;
    }
    .check-services {
        margin-block: 10px;
        font-size: 20px;
    }
    .cards {
        width: 100%;
        display: grid;
    }
    .card {
        width: 100;
        padding: 0;
    }
    .card-title {
        font-size: 25px;
    }
    .service-info {
        margin-top: 5px;
        font-size: 15px;
    }

    .service-info {
        text-align: center;
    width: auto;
    padding-left: 0;

    }
    .btn-info {
        margin: 10px 0 20px 0;
    }
    #section2 {
        width: 100%;

    }
    
    .my-para {
        font-size: 16px;
        width: auto;
        margin: 0;
    }
    .explore-services {
        display: none;
        font-size: 15px;
    }
    .about-me {
        align-items: center;
    }
    .handsome {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: solid var(--yellow);
        margin-bottom: 20px;
        
    }
    .achieved{
        display: none;
    }
    #abt-me {
        text-align: center;
        margin: 0;
        font-size: 20px;
    }
    .my-information {
        flex-direction: column;
        align-items: center;
    }
    /* .card2 {
        width: 320px;
        border-radius: 25px;
        background-color: #FFF  ;
    } */
    .slide-content {
        margin: 0;
        width: 870px;
    }
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
    .testimonials {
        font-size: 20px;
    }
    nav ul{
        /* height: 40px; */
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .ntn {
        display: none;
    }

    .first-three {
        display: grid;
    }
    .second-three {display: none;}

}
@media (width=768px) {
    .my-info {
        font-size: 25px;
        line-height: 30px;
    }
    /* .logo {
        margin-right: 210px;
    } */
    .card-title {
        font-size: 25px;
    }
    .service-info {
        font-size: 20px;
    }
    .menu-items {
        font-size: 20px;
    }
    .wrapper2 {
        width: 1000px;
    }
    .image2 {
        width: 100%;
    }
    .slide-content {
        margin: 0;
        width: 1000px;
    }
    #body3 {
        width: 100%;
    }
    .about-me {
        align-items: center;
        width: 1000px;
    }
    .my-para {
        width: 100%;
        font-size: 25px;
        line-height: 40px;
    }
    .my-information {
        width: 100%;
    }
    .handsome {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: solid var(--yellow);
        margin-bottom: 20px;
        
    }
    .achieved{
        display: none;
    }
    #abt-me {
        text-align: center;
        margin: 0;
        font-size: 35px;
    }
    .my-information {
        flex-direction: column;
        align-items: center;
    }
    .cards {
        width: 100%;
    }
    /* .mypic1 {
        display: none;
    } */
    /* .mypic2 {
        display: flex;
        margin-left: 8.76px;
        width: 570.28px;
        border: solid black;eight: 557.88px;
        
    } */
}
/* @media (width>=1024) {
    .my-para {margin-left: 1000px;
    }
} */



nav{
    background-color:  #EFEFEF;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
    position: fixed;
    top: 0px;
    /* width: 100%; */
  }
  nav ul{
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* align-items: center;
    text-align: center; */
  }
  nav li{
    /* padding-top: 15px; */
    height: 50px;
  }
  nav a{
    /* height: 100%; */
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    top: 0; 
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  hideOnMobile {
    text-align: center;
  }
  
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
        padding-top: 10px;
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
      background: rgba(255, 255, 255, .1);
    }
  }